<div class="row">
    <div class="col">
        <h3 class="h3">PORTFOLIO</h3>
    </div>
</div>

<div class="row">
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/moneyvalue.jpg" alt="money-value" />
            <figcaption class="caption">Value of Money</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/sustainable2.jpg" alt="sustainable-world">
            <figcaption class="caption">Sustainability</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/world-year2100.jpg" alt="world-future">
            <figcaption class="caption">The Future of the World</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/climate.jpg" alt="climate-change">
            <figcaption class="caption">Our Environment</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/economy.png" alt="economy">
            <figcaption class="caption"> World Economy</figcaption>
        </figure>
    </div>
    <div class="col col-lg-4 col-md-6 col-12 fig">
        <figure>
            <img src="./img/gmo-food2.jpg" alt="gmo-food">
            <figcaption class="caption">GMO Food</figcaption>
        </figure>
    </div>
</div>

<br>

<hr>

<br>